
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">
						<b>{{userData.userTypName}} Profile </b></a>
					</h4>
					<p class="category">
						<b>Update Additional Details in Profile</b>
					</p>
				</div>
				<div class="card-content">
				
				<div class="panel panel-default">
						<div class="panel-heading">
							<b>Lender Details</b>
						</div>
						<div class="panel-body">

							<div class="col-md-12">
								<h5><b>Personal  Details</b></h5>
							</div>

							<div class="col-md-4">
								<label>Name</label>
								<div>{{userData.firstName}} {{userData.middleName}} {{userData.lastName}}</div>
							</div>
							
							<div class="col-md-4">
								<label>Bank</label>
								<div>{{userData.bank.name || 'N.A'}}</div>
							</div>
							
							<div class="col-md-4">
								<label>Application</label>
								<div>{{userData.applications[0].applicationTypeName || 'N.A'}}</div>
							</div>
							<div class="col-md-12">
								<br>
							</div>
							
							<div class="col-md-12">
								<h5><b>Contact Details</b></h5>
							</div>
							
							<div class="col-md-4">
								<label>Email</label>
								<div>{{userData.email || 'N.A'}}</div>
							</div>
							
							<div class="col-md-4">
								<label>Mobile</label>
								<div>{{userData.mobile || 'N.A'}}</div>
							</div>
							
						</div>
					</div>
					
						<!-- Loan Details -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<b>Application Details</b>
						</div>
						<div class="panel-body">
							<table class="table table-striped table-bordered">
								<thead class="text-primary">
									<tr>
										<th style="width: 5%">No.</th>
										<th>Lead Reference No.</th>
										<th>Application</th>
										<th>Amount</th>
										<th>Tenure</th>
										<th>Status</th>
										<th style="width: 5%">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat-start="app in connections">
										<td>{{$index + 1}}</td>
										<td>{{app.application.leadReferenceNo || Constant.NA }}</td>
										<td>{{app.application.applicationTypeName || Constant.NA}}</td>
										<td>{{app.application.loanAmount | number : 2 || Constant.NA}}</td>
										<td>{{app.application.tenure || Constant.NA}} Month</td>
										<td>{{app.status || 'NA'}}</td>
										<td>
											<button class="btn btn-default btn-sm" data-ng-click="app.viewMore = !app.viewMore">{{app.viewMore ? 'Less'  : 'More'}}</button>
										</td>
									</tr>
									<tr data-ng-repeat-end class="bg-info">
									<td colspan="7" data-ng-if="app.viewMore">
										<table class="table table-striped table-bordered">
										<thead>
										<tr>
											<th class="text-primary">Possible Loan Amount</th>
											<td>{{app.loanPossibleAmount || 0 | currency : getCurrencySymbol()}}</td>
											<th class="text-primary">Tenure (Months)</th>
											<td>{{app.tenure || 'NA'}}</td>
										</tr>
										<tr>
											<th class="text-primary">ROI(%)</th>
											<td>{{app.roi || 'NA'}}</td>
											<th class="text-primary">Processing Fees</th>
											<td>{{app.processingFees || 0 | currency : getCurrencySymbol()}}</td>
										</tr>
										<tr>
											<th class="text-primary" colspan="1">Terms and Conditions</th>
											<td colspan="3">{{app.termAndCondition || 'NA'}}</td>
										</tr>
										</thead>
										</table>
									</td>
									</tr>
									<tr data-ng-if="isEmpty(connections)">
										<td colspan="7" class="alert alert-default text-center">
											No Applications!</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
