
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="card">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">Channel Partners</h4>
					<p class="category">List of Channel Partner are registered in the
						System</p>
				</div>
				<br />
				<div class="col-md-12 col-sm-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<span>Channel Partner <span class="badge">{{users.length}}</span></span>
						</div>

						<div class="card-content table-responsive">
							<table ng-table="userTable" class="table">
								<thead class="text-primary">
									<tr>
										<th colspan="50"><input type="text" name="searchData"
											class="form-control" data-ng-model="search.channelPartner"
											placeholder="Type anything to search Channel Partner"></th>
									</tr>
									<tr>
										<th>Sr No.</th>
										<th>Name</th>
										<th>Email</th>
										<th>Mobile</th>
										<th>Active</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
					<tr ng-repeat="user in $data">
                        <td>{{$index + 1}}</td>
                        <td>
                        {{user.name || Constant.NA}}
                        </td>
                        <td>{{user.email || Constant.NA}}</td>
                        <td>{{user.mobile || Constant.NA}}</td>
                        <td><is-active status="{{user.isActive}}"></is-active></td>
                    	<td><button ui-sref="admin.lams.channelPartnerProfile({cpId:user.id})" class="btn btn-sm btm-primary">View</button></td>
                    </tr>
                    <tr ng-if="$data.length===0">
                    	<td colspan="10" class="text-center">No Channel Partner Exist in the System.</td>
                    </tr>									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



